{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "arrow-body-style": [2, "always"],
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/extentions": 0
  }
}